<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="utf-8"/>
  <title>Dungeon Master Toolkit - The little helper for your next pen-and-paper RPG session!</title>
  <script type="text/javascript" src="lib/angular.min.js"></script>
  <script type="text/javascript" src="js/CharacterGeneratorCtrl.js"></script>
</head>
<body>
<h1>Dungeon Master Toolkit</h1>

<form>
  <fieldset>
    <legend>&quot;W&uuml;rfelboard&quot;</legend>

    <select>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>

    <select>
      <option value="4">W4</option>
      <option value="6">W6</option>
      <option value="8">W8</option>
      <option value="10">W10</option>
      <option value="12">W12</option>
      <option value="20">W20</option>
      <option value="100">W100</option>
    </select>

    <input type="submit" value="w&uuml;rfeln"/>
  </fieldset>
</form>

<hr style="margin-top:50px;margin-bottom:50px;" />

<form novalidate ng-controller="CharacterGeneratorCtrl">
  <fieldset>
    <legend>Charakter Generator</legend>

    <input type="text" ng-model="newCharacter.name" />

    <select ng-model="newCharacter.classId" ng-options="class.id as class.label for class in availableClasses">
      <option value="">-- Klasse wählen --</option>
    </select>

    <select ng-model="newCharacter.level">
      <option value="">-- Level wählen --</option>
      <option ng-repeat="level in availableLevels">{{level}}</option>
    </select>

    <input type="submit" value="erstellen" ng-click="createCharacter(newCharacter)"/>
  </fieldset>

  <p>
    Charaktere:
  </p>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Klasse</th>
      <th>ID der Klasse</th>
      <th>Level</th>
    </tr>
    <tr ng-repeat="char in characters">
      <td>{{char.name}}</td>
      <td>{{classIdToClassLabel(char.classId)}}</td>
      <td>{{char.classId}}</td>
      <td>{{char.level}}</td>
    </tr>
  </table>


</form>
</body>
</html>